* @rgudwin

/src/br/unicamp/meca/memory/ @eduardofroes

/src/br/unicamp/meca/mind/ @andre-paraense

/src/br/unicamp/meca/models/ @andre-paraense

/src/br/unicamp/meca/system1/codelets/ @andre-paraense @eduardofroes

/src/br/unicamp/meca/system2/codelets/ @andre-paraense @eduardofroes
